<!DOCTYPE html>
<html>
  <head>
    <title>Weather App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Temp: <%= temp %> F </h1>
    <p> <%= summary %></p>
  </body>
</html>
